.login__content {
    margin: 0 auto;
    padding: 30px 15px;
}

.login__content-heading {
    padding-top: 10px;
    padding-bottom: 10px;
    text-align: center;
}

.login__content-form {
    margin: 0 auto;
    width: 25%;
    text-align: center;
}

.form__group-content {
    margin-bottom: 15px;
}

.form__input--text input {
    padding: 10px;
    width: 100%;
    height: 50px;
    border: 2px solid #909090;
    border-radius: 5px;
    background-color: #f2f2f2;
    
    appearance: none;
}

.form__input--text input::placeholder {
    color: #909090;
    font-size: 15px;
}

.form__error {
    height: 20px;
    color: #ff0000;
    text-align: left;
}

.form__button-submit {
    padding: 10px;
    width: 100%;
    height: 50px;
    border: none;
    border-radius: 5px;
    background: #214BE0;
    color: #fff;
    cursor: pointer;
    font-size: 15px;
}

.login__content-footer {
    padding-top: 30px;
    padding-bottom: 310px;
}

.login__content-message {
    color: #808080;
}

.login__content-link {
    color: #214BE0;
    text-decoration: none;
}