.user-list__content {
    margin: 0 auto;
    padding: 30px 15px;
    width: 100%;
}

.user-list__ttl {
    font-weight: bold;
    text-align: center;
    font-size: 18px;
}

.user-list {
    width: 100%;
    padding-top: 20px;
    display: flex;
}

.user-list__table {
    margin: 0 auto;
}

.title__row {
    white-space: nowrap;
    padding: 0 100px 0 50px;
    line-height: 50px;
    border-top: 1px solid #464545;
    font-size: 23px;
}

.table__label {
    white-space: nowrap;
    padding: 15px 100px 15px 60px;
}

.value__row {
    padding: 10 0 10 50;
    border-top: 1px solid #464545;
    line-height: 50px;
    font-size: 18px;
    font-weight: bold;
}

.value__list {
    padding: 15px 100px 15px 60px;
}

.link__button {
    text-decoration: none;
}